.main {
  margin: 0 auto 400px;
  padding: 20px;
  max-width: 1200px;
}

.title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}

.block {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.list {
  margin: 0;
  padding-left: 20px;
  list-style: lower-greek;
}

.list__item {
  margin-bottom: 10px;
}
